<template>
  <component
    :is="require(`@/assets/icons/${name}.svg?inline`)"
    class="icon"
  />
</template>

<script>
export default {
  props: {
    /**
     * Icon name
     */
    name: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" src="./_icon.scss" />
