<template>
  <lazy-image
    :src="require(`@/assets/images/${name}`)"
    class="image"
    :width="width"
    :height="height"
  />
</template>

<script>

export default {
  props: {
    /**
     * Image width
     */
    width: {
      type: String,
      default: '300'
    },
    /**
     * Image height
     */
    height: {
      type: String,
      default: '300'
    },
    /**
     * Image name
     */
    name: {
      required: true,
      type: String
    }
  }
}
</script>

<style lang="scss" src="./_image.scss" />
