.heading {
    margin: 0 0 $spacer 0;
    color: $gray-darkest;
    font-weight: $font-weight-normal;

    &--first-level {
        font-size: 24px;
    }

    &--second-level {
        font-size: 20px;
    }

    &--third-level {
        font-size: 16px;
    }

    &--fourth-level {
        font-size: 14px;
    }

    &--fifth-level {
        font-size: 12px;
    }

    &--sixth-level {
        font-size: 12px;
    }
}
