.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacer-medium 0;

    &__text {
        font-size: $font-size-small;
        padding: 0 $spacer 0 0;
    }

    &__icon {
        width: 12px;
        height: 12px;
    }
}
