<template>
  <footer class="footer">
    <span class="footer__text">
      coded with
    </span>
    <heart-icon class="footer__icon" />
  </footer>
</template>

<script>
import HeartIcon from '@/assets/icons/heart.svg?inline'

export default {
  components: {
    HeartIcon
  }
}
</script>

<style lang="scss" src="./_footer.scss" />
