.social-bar {
    display: flex;
    margin: 0;
    padding: 0;

    &__item {
        list-style: none;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;

        &--facebook {
            background-color: #3b5998;
        }

        &--twitter {
            background-color: #55acee;
        }

        &--linkedin {
            background-color: #007bb5;
        }

        &--github {
            background-color: #000000;
        }

        .icon {
            fill: $white;
        }
    }
}
