<template>
  <ul class="social-bar">
    <li
      v-for="{ name, link, attributes } in socialMock"
      :key="name"
      class="social-bar__item"
    >
      <base-link
        :class="[ 'social-bar__link', { [`social-bar__link--${name}`]: name } ]"
        :href="link"
        v-bind="attributes"
      >
        <base-icon v-bind="{ name }" />
      </base-link>
    </li>
  </ul>
</template>

<script>
import BaseLink from '@/components/atoms/link/Link.vue'
import BaseIcon from '@/components/atoms/icon/Icon.vue'
import socialMock from '@/mocks/social-media.json'

export default {
  components: {
    BaseLink,
    BaseIcon
  },
  data() {
    return {
      socialMock
    }
  }
}
</script>

<style lang="scss" src="./_social-bar.scss" />
