.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    padding: 0 $spacer-medium;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: $brand-secondary-color;
    color: $white;
    font-weight: $font-weight-bold;

    &:hover,
    &:focus {
        background-color: $brand-primary-color;
    }

    &--type-secondary {
        border-width: 2px;
        border-style: solid;
        border-color: $brand-secondary-color;
        background-color: transparent;
        color: $brand-secondary-color;

        &:hover,
        &:focus {
            border-color: $brand-primary-color;
            background-color: transparent;
            box-shadow: inset 0 0 0 1px $brand-primary-color;
            color: $brand-primary-color;
        }
    }
}
