.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacer-large 0;

    &__heading {
        @include visually-hidden();
    }

    &__logo {
        width: 50px;
        height: 50px;
    }
}
