<template>
  <header class="header">
    <base-heading
      :level="1"
      class="header__heading"
    >
      Bartosz Dominiak - Frontend Developer
    </base-heading>

    <nuxt-link
      to="/"
      aria-label="bartosz dominiak homepage"
    >
      <logo-icon class="header__logo" />
    </nuxt-link>
  </header>
</template>

<script>
import BaseHeading from '@/components/atoms/heading/Heading.vue'
import LogoIcon from '@/assets/icons/logo.svg?inline'

export default {
  components: {
    LogoIcon,
    BaseHeading
  }
}
</script>

<style lang="scss" src="./_header.scss" />
