*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    color: $font-color-base;
    font-size: $font-size-base;
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    min-height: 100vh;
    min-width: 320px;
}

.container {
    margin: 0 auto;
    max-width: $max-content-width;
}
