// Colors
$white: #FFFFFF !default;
$black: #000000 !default;
$gray: #BDBDBD !default;

// Gray variants
$gray-darkest: #222222 !default;
$gray-darker: #2F2F2F !default;
$gray-dark: #757575 !default;
$gray-light: #E0E0E0 !default;
$gray-lighter: #E9E9E9 !default;
$gray-lightest: #F4F4F4 !default;

// Brand Colors
$brand-primary-color: #288FCE !default;
$brand-secondary-color: #07659f !default;

// Status Colors
$succes-color: #289B38 !default;
$error-color: #C30000 !default;

// Fonts
$font-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, Tahoma, sans-serif !default;

// Fonts - Weight
$font-weight-normal: 300 !default;

// Fonts - Sizes
$font-size-small: 12px !default;
$font-size-normal: 14px !default;
$font-size-big: 16px !default;

// Fonts - Base
$font-family-base: $font-sans-serif !default;
$font-color-base: $gray-dark !default;
$font-size-base: $font-size-normal !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

// Spacers
$spacer: 8px !default;
$spacer-medium: 16px !default;
$spacer-large: 24px !default;
$spacer-extra-large: 40px !default;

// Layout
$max-content-width: 1328px !default;

// Layout - breakpoints
$screen-xs: 320px !default;
$screen-s: 480px !default;
$screen-m: 768px !default;
$screen-l: 992px !default;
$screen-xl: 1200px !default;
$screen-xxl: 1600px !default;
