<template>
  <div class="page-wrapper">
    <base-header />

    <main class="container">
      <nuxt />
    </main>

    <base-footer />
  </div>
</template>

<script>
import BaseHeader from '@/components/organisms/header/Header.vue'
import BaseFooter from '@/components/organisms/footer/Footer.vue'

export default {
  components: {
    BaseHeader,
    BaseFooter
  }
}
</script>
