<template>
  <div class="error-page">
    <base-icon
      class="error-page__icon"
      name="404"
    />

    <base-heading
      class="error-page__heading"
      :level="1"
    >
      {{ errorMessage }}
    </base-heading>

    <nuxt-link to="/">
      Home page
    </nuxt-link>
  </div>
</template>

<script>
import BaseHeading from '@/components/atoms/heading/Heading.vue'
import BaseIcon from '@/components/atoms/icon/Icon.vue'

export default {
  components: {
    BaseHeading,
    BaseIcon
  },
  props: {
    error: {
      type: Object,
      default: () => {},
    }
  },
  computed: {
    errorMessage() {
      if (this.error.statusCode === 404) {
        return 'Page not found'
      }

      return 'An error occurred'
    }
  }
}
</script>

<style lang="scss">
.error-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;

  &__heading {
    font-size: 50px;
  }

  &__icon {
    height: 70px;
    width: 70px;
    margin: 0 0 $spacer 0;
  }
}
</style>
