<template>
  <div>
    <about-section
      v-for="({ heading, text, image, id }, index) in aboutMock"
      :key="id"
      :index="index"
      :image="image"
    >
      <template #social>
        <social-bar />
      </template>

      <template #content>
        <base-heading
          tag="h2"
          :level="1"
        >
          {{ heading }}
        </base-heading>

        <base-paragraph>
          {{ text }}
        </base-paragraph>
      </template>
    </about-section>
  </div>
</template>

<script>
import AboutSection from '@/components/molecules/about-section/AboutSection.vue'
import SocialBar from '@/components/molecules/social-bar/SocialBar.vue'
import BaseHeading from '@/components/atoms/heading/Heading.vue'
import BaseParagraph from '@/components/atoms/paragraph/Paragraph.vue'

import aboutMock from '@/mocks/about.json'

export default {
  components: {
    AboutSection,
    SocialBar,
    BaseHeading,
    BaseParagraph
  },
  data() {
    return { aboutMock }
  }
}
</script>
