.about-section {
    max-width: 800px;
    margin: 0 auto;

    @include mq($screen-l) {
        max-width: 900px;
    }

    &__content {
        position: relative;
        width: 95%;
        margin: 0px auto;
        top: -50px;
        padding: $spacer-medium;
        border: 1px solid $gray-lightest;
        background-color: $white;

        @include mq($screen-m) {
            width: 80%;
            padding: $spacer-large;
        }
    }

    &__social {
        position: absolute;
        top: -51px;
        right: -1px;
    }

    &__image {
        &--right {
            margin-left: auto;
            max-width: 300px;
        }
    }
}
