<template>
  <section class="about-section">
    <base-image
      :class="[{ 'about-section__image--right': index % 2 }]"
      v-bind="image"
    />

    <div
      v-if="hasSlotContent('content')"
      class="about-section__content"
    >
      <div
        v-if="hasSlotContent('social') && index === 0"
        class="about-section__social"
      >
        <slot name="social" />
      </div>

      <slot name="content" />
    </div>
  </section>
</template>

<script>
import BaseImage from '@/components/atoms/image/Image.vue'

export default {
  components: {
    BaseImage
  },
  props: {
    /**
     * Section index (number)
     */
    index: {
      required: true,
      type: Number
    },
    /**
     * Image (src)
     */
    image: {
      required: true,
      type: Object
    }
  },
  methods: {
    hasSlotContent(name) {
      return !!this.$slots[name]
    }
  }
}
</script>

<style lang="scss" src="./_about-section.scss" />
